global
	stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
	log stdout format raw local0 info

defaults
	mode http
	timeout client 10s
	timeout connect 5s
	timeout server 10s
	timeout http-request 10s
	log global

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    # stats admin if LOCALHOST

frontend http-in
    bind *:80
    default_backend be_servers

backend be_servers
    server paper1 divyield_paper1_1:8080 check
    server paper2 divyield_paper2_1:8080 check

